[submodule "aruco_ros"]
	path = aruco_ros
	url = https://github.com/pal-robotics/aruco_ros.git
	branch = noetic-devel
[submodule "bio_ik"]
	path = bio_ik
	url = https://github.com/TAMS-Group/bio_ik.git
	branch = master
[submodule "bio_ik_service"]
	path = bio_ik_service
	url = https://github.com/DanManN/bio_ik_service.git
	branch = bullet
[submodule "easy_handeye"]
	path = easy_handeye
	url = https://github.com/IFL-CAMP/easy_handeye
	branch = master
[submodule "gpd_ros"]
	path = gpd_ros
	url = https://github.com/DanManN/gpd_ros.git
	branch = master
[submodule "motoman"]
	path = motoman
	url = https://github.com/DanManN/motoman.git
	branch = kinetic-devel
[submodule "pracsys_vbnpm"]
	path = pracsys_vbnpm
	url = https://github.com/MiaoDragon/pracsys_vbnpm.git
	branch = master
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros
	branch = ros1-legacy
[submodule "robotiq_arg85_description"]
	path = robotiq_arg85_description
	url = https://github.com/a-price/robotiq_arg85_description.git
	branch = master
[submodule "segment3d"]
	path = segment3d
	url = https://github.com/DanManN/segment3d.git
	branch = master
[submodule "tuw_marker_detection"]
	path = tuw_marker_detection
	url = https://github.com/tuw-robotics/tuw_marker_detection.git
	branch = noetic-devel
[submodule "pinocchio"]
	path = pinocchio
	url = https://github.com/stack-of-tasks/pinocchio.git
	branch = master
